/* /////// Overall layout /////// */
* {
  box-sizing: border-box;
}

body,
html {
  font-family: Helvetica, sans-serif;
}
header {
  background-color: black;
  opacity: 0.9;
  width: 100%;
  height: 60px;
}
#logo {
  width: 65px;
  margin-top: 10px;
  margin-left: 10px;
  z-index: 20;
}
#logo:hover {
  animation: shake 2.5s alternate forwards;
  cursor: pointer;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
/* Navigation */
ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  text-align: center;
  transition: transform 0.5s ease-out;
  margin-top: -43px;
  float: right;
  margin-right: 170px;
  margin-left: 35px;
}

ul li a {
  color: white;
  line-height: 1px;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
  padding-right: 20px;
}
/* Sort by */
.dropdown {
  float: right;
  margin-right: 14px;
  margin-top: -40.4px;
  display: flex;
  font-weight: bold;
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  z-index: 100;
}
#sort-by {
  display: flex;
  padding: 4px 5px;
  cursor: pointer;
  justify-content: space-between;
  position: relative;
  margin-top: -5px;
}

body {
  max-width: 100%;
  margin: auto;
  color: #29484b;
  font-family: sans-serif;
  background-color: #9839c9;
}

/* TEXT */
#title {
  text-align: center;
  padding: 10px;
  color: aliceblue;
  font-size: 30px;
  font-family: "Pathway Gothic One", sans-serif;
}

/* BROOM img */
#broom {
  width: 25%;
  transform: rotate(33deg);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -85px;
}
.glowing {
  animation: glowing 0.5s infinite alternate;
}
@keyframes glowing {
  to {
    filter: drop-shadow(5px 5px 7px black);
  }
}

#broom:hover {
  cursor: pointer;
}

.fly {
  animation-name: flyanim;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(0.5, 0.5, 0.5, 0.5);
}

@keyframes flyanim {
  0% {
    transform: translate(490px, 250px);
  }

  25% {
    transform: translate(120px, 70px);
  }

  50% {
    transform: translate(-500, 260px);
  }

  70% {
    transform: translate(100, 300px);
  }

  100% {
    transform: translate(690px, 173px) scale(1) rotate(360deg);
  }
}

/* Template */
#mainslisttudents {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
  grid-gap: 1em;
  padding-top: 10px;
}

#articlestudents {
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  padding-left: 7.5em;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  height: 220px;
  width: 325px;
  padding-top: 25px;
  background-color: white;
}

.firstname,
.lastname {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

button {
  background-color: black;
  color: white;
  padding: 8px 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
  position: absolute;
  left: 0px;
}

button a {
  border: 5px solid #d4b13b;
  padding: 4px;
}
/* ////////  Modal ///////*/

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
}

.modal-content {
  background-color: white;
  width: 80%;
  height: 85%;
  margin: auto;
  margin-top: 5%;
  overflow: scroll;
  padding: 1em;
  text-align: center;
}
/* img */
.gryffimg,
.huffleimg,
.slythimg,
.ravenimg {
  width: 100px;
}

/* /// Close Button /// */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 30px;
  font-weight: bold;
  margin-right: -6px;
  margin-top: 17px;
}

.close:hover {
  color: #000;
  cursor: pointer;
}

.hide {
  display: none;
}

/* Grid layout */

#wrapper {
  min-height: 100vh;
  display: grid;
  grid-template: 1em 1em 1em;
  grid-template-areas:
    "header header header"
    "title title title"
    "broom broom broom"
    "main main main";
  /* "footer footer footer"; */
}

header {
  grid-area: header;
}

#title {
  grid-area: title;
}

#broom {
  grid-area: broom;
}

main {
  grid-area: main;
}

/* footer {
  grid-area: footer;
  background-color: lightblue;
} */
